<div class="rubrique-title">
  <h1>Recherchez vos produits à l'aide de nos rubriques</h1>
  <div class="rubriques">
    <div class="rubrique"><p>Viande</p></div>
    <div class="rubrique"><p>Laitage</p></div>
    <div class="rubrique"><p>Fruit & Légume</p></div>
    <div class="rubrique"><p>Boisson</p></div>
  </div>
</div>
