<div class="home">
  <!--   Illustrations for left column -->
  <div class="illustrations">
    <img src="../assets/carotte.png" alt="">
    <img src="../assets/comte.png" alt="">
    <img src="../assets/cote2.png" alt="">
    <img src="../assets/chevre2.png" alt="">
  </div>
  <!--   Display products -->
  <div id="border">
    <h3 style="text-align: center; margin: 16px 32px;">Constituez votre panier parmi notre sélection de produits</h3>
    <div class="cards">
      <% @products.each do |product| %>
        <div class="wrapper">
          <div class="top">
            <span><%= cl_image_tag product.cover.key %></span>
          </div>
          <div class="bottom">
            <div style="display:flex;">
              <h5><%= product.name %></h5>
              <i class="fas fa-cart-plus" id="icone"></i>
            </div>
            <div style="display:flex;">
              <h6><%= product.price %>€</h6>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!--   Illustrations for right column -->
  <div class="illustrations">
    <img src="../assets/comte.png" alt="">
    <img src="../assets/cote2.png" alt="">
    <img src="../assets/bouteille.png" alt="">
    <img src="../assets/carotte.png" alt="">
  </div>
</div>

