// GRID display
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 10vh;
  max-width: 80%;
}
// Product card
.wrapper {
  width: 200px;
  height: 200px;
  background: transparent;
  margin: auto;
  margin-top: 16px;
  position: relative;
  z-index:1;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: transform 0.5s;
  &:hover {
    transform: scale(1);
  }
}


.top {
  height: 80%;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  img {
    height: auto;
    width: 60%;
    object-fit: cover;
    margin: auto;
    display: block;
  }
}

.bottom {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  text-decoration: none;
  h3, h5, h6 { color: white;}
  #icone {
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 20px; right: 10px;
    // font-family: $body-font;
  }
  a {
    color: white;
    &:hover {color: white; text-decoration: none;}
    position: absolute;
    bottom: 20px; right: 10px;
    font-size: 0.95rem;
  }
}
