.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 62px;
}

.fa-search {
  color: white!important;
}

.navbar .search {
  .search-input {
    width: 80%;
    display: inline-block;
  }
}
