.rubrique-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 5vh;
  h1 {text-align: center;}
}

.rubriques {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.rubrique {
  background-size: cover;
  background-position: center;
  background-image: url("../assets/ardoise.png");
  height: 200px;
  width: 20%;
  margin: 16px;
  text-align: center;
  font-size: 24px;
  p {padding-top: 36%;}
}
